* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(#ff5f37, #ffd166);
  font-family: serif;
  line-height: 1.5;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.big-card {
  padding-top: 15%;
  display: flex;
  flex-direction: column;
  max-width: 97%;
  justify-content: center;
  align-items: center;
  
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.main {
  display: flex;
  justify-content: center;
  padding: 1rem;
  gap: 2rem;
}
.footer {
  display: flex;
  padding: 1rem;
}
.portrait {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  box-shadow: -5px -20px 50px white;
}
.part {
  flex-basis: 25%;
}