* {
  box-sizing: border-box;
}



body {
  background: linear-gradient(#ffd166, #ff5f37);
  font-family: sans-serif;
  line-height: 1.5;
  letter-spacing: 0.05rem;
}
header {
  text-align: center;
  margin: 10%;
}
h1 {
  font-size: 40px;
  font-family: Tahoma;
}
p {
  font-size: 24px;
}
#title {
  margin: auto;
}
#img-caption {
  margin: auto;
}
#img-div {
  border: 10px solid #fffd76;
  border-radius: 10%;
  background: linear-gradient(#ffd166, #ff5f37);
}
#image {
  display: inline;
  width: 200px;
  height: 300px;
  max-width: 100%;
  margin: 10px auto;
  border-radius: 10%;
  box-shadow: 10px 0 10px;
}
#tribute-info {
  padding: 0px 20%;
  margin: auto;
}
footer {
  text-align: center;
  margin-bottom: 100px;
}